.colorCity { color: #ff8080 }

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }

  #user-toolbar {
        position: absolute;
        top: 130px;
        right: 120px;
        background-image: url("../images/pattern-2.png");
        z-index:1000;
      }
      
.settings-button {
  width: 36px;
  height: 28px;
  border-radius: 5px;   
  border: 1px solid #161615; 
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
  opacity: 0.7;
  background-color: #343433;
  z-index: 2;
  display: block;
  margin: 20px 44px;
}

.settings-button:hover, .pressed {
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
  z-index: 2;
}

.settings-button img {
  margin: 5px auto 0px auto;
  display: block;
  z-index: -1;
}

.settings-button span {
  background: transparent url('../images/icon-cog-small.png') no-repeat top left;
  width: 19px;
  height: 18px;
  display: block;
  margin: 5px auto 0px auto;
}